.social
    ul.social__list
        - var socials = ['vk', 'github', 'in']
        each social in socials 
            li.social__icon
                .social__icon-box
                    +svgIcon('social__svg', social)