extends ../base-page.pug
block promo__block 
    .promo__block
    .promo__img: img.promo__my-img(src="img/welcome/people-one.jpg", alt="Я")
    .section-title.promo__title Блог
    .promo__desc Статьи, которые я написал

block down
    .promo__down 
        +svgIcon('svg-down','arrow_down')

block main-content      
    section.blog
        .triangle.blog__triangle
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 890 85" preserveaspectratio="none" class="traingle">
                <polygon class = "" points="0,0   0,85   445.100,85   445.100,75.1"></polygon>
                <polygon class = "" points="890,0   890,85  445,85  445,74.9999"></polygon>
            </svg>
        .blog__left
            ul.blog__list
                -var blogs = [['Самое важное в SASS','blog__elem-link--current'],['Приёмы в вёрстке, без которых не обходится ни один сайт',''],['Самый необходимый набор Gulp плагинов',''],['Почему я выбрал Jade','']]
                each item in blogs  
                    li.blog__elem
                        a(class= `blog__elem-link ${item[1]}` href='/')= item[0] 
        .blog__right
            .blog__article
                .sub-title.blog__title Самое важное в SASS
                .blog__date 22 ноября 2016
                .blog__text 
                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .blog__code
                    .blog__code-number
                    .blog__code-text
            .blog__article
                .sub-title.blog__title Приёмы в вёрстке, без которых не обходится ни один сайт
                .blog__date 13 ноября 2016
                .blog__text 
                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__article
                .sub-title.blog__title Самый необходимый набор Gulp плагинов
                .blog__date 13 ноября 2016
                .blog__text 
                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            .blog__article
                .sub-title.blog__title Почему я выбрал Jade
                .blog__date 13 ноября 2016
                .blog__text 
                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ../includes/footer                              