extends ../base-welcome
block variables
  - var title = 'Главная страница'

block welcome__auth
    a.welcome__auth(href="") Авторизоваться

block entry
    .entry__img
    .entry__name Владимир Астахов
    .entry__desc Личный сайт веб разработчика
    include ../includes/_social.pug

block entry__tabs
    each tab in [['Мои работы', '/mywork'],['Обо мне', '/about'],['Блог', '/blog']]
        li.entry__tab-elem
            a.entry__tab-link(href=`${tab[1]}`) #{tab[0]}        
                                    
                
