extends ../base-welcome
block variables
  - var title = 'Главная страница'

block welcome__auth
    a.welcome__auth(href="") Авторизоваться

block entry
    .entry__img
    .entry__name Владимир Астахов
    .entry__desc Личный сайт веб разработчика
    .entry__social
        ul.entry__social-list
            - var socials = ['vk', 'github', 'in']
            each social in socials 
                li.entry__icon
                    .entry__icon-box
                        +svgIcon('entry__svg', social)

block entry__tabs
    each tab in [['Мои работы', '/mywork'],['Обо мне', '/about'],['Блог', '/blog']]
        li.entry__tab-elem
            a.entry__tab-link(href=`${tab[1]}`) #{tab[0]}        
                                    
                
