extends base
include config/_mixins
block content
    section.section.promo
        header.header
            .header__left
                include includes/_social.pug
            .navigation__short-menu
                .short-menu
        block promo__block        
            .promo__block
                .promo__img: img.promo__my-img(src="img/welcome/people-one.jpg", alt="Я")
                .promo__name Владимир Астахов
                .promo__desc Личный сайт веб разработчика
        block down 

    
    block main-content
        

    block map   