block variables
doctype html
html
  head
    block script
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/plugins/line-numbers/prism-line-numbers.min.css")
    script(async='async' src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.min.js")
    script(async='async' src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/plugins/line-numbers/prism-line-numbers.min.js")

    //- favicon block start
    //- favicon block end
    link(rel='stylesheet' href='./css/main.min.css')
    <script async='async' type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCgmHq_4IWqfJAwGZGCnskS3WoWeqX01g"></script>
    //<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCgmHq_4IWqfJAwGZGCnskS3WoWeqX01g&callback=initMap" type="text/javascript"></script>
    script(src='./js/common.bundle.js' async='async')
    script(src='./js/entry.bundle.js' async='async')
    <!--[if lt IE 9]>
    script(async='async' src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    .wrapper
      block content