extends base
include config/_mixins
block content
    section.welcome
        block welcome__auth
        .entry
            block entry
            .entry__tabs
                ul.entry__tab-list
                    block entry__tabs
        footer.welcome__footer © Владимир Астахов | создано с любовью в LoftSchool | 2016