.work{
    position: relative;
    min-height: 750px;
    @include tablets{
        height: initial;
        min-height: auto;
    }
}
.work__triangle{
    position: absolute;
    bottom: 100%;
}
.work__info{
    background-color: #f8f9f5;
    height: 17.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work__title{
    margin-top: 13px;
    width: 506px;
    height: 165px;
    @extend .title-block;
    @include tablets{
        margin-top: 3px;
    }
    @include iphones{
        margin-top: 9px;        
    }
}
.works__bg-title{
    position: absolute;
    top: -14%;    
    left: 0;
    width: 506px;
    height: 165px;
    fill: #93c42e;
    opacity: 0.1;
}
