extends base
include config/_mixins
block content
    section.section.promo.webgl
        <canvas class="webgl-canvas"></canvas>
        header.header
            .header__left
                include includes/social-promo.pug
            .header__short-menu
                    .ham-button.js-add-active
                        span.ham-button__line
                        span.ham-button__line
                        span.ham-button__line  

        block promo__block        
            .promo__block
                .promo__img: img.promo__my-img(src="./img/welcome/people-one.jpg", alt="Я")
                .promo__name Анисов Дмитрий
                .promo__desc Личный сайт веб разработчика
        block down

    section.section.hamburger.js-open-menu
        .hamburger__left
        .hamburger__right
        .hamburger__container
            ul.hamburger__menu.js-opacity-change
                li.hamburger__elem
                   a(href="/works").hamburger__href Мои Работы
                li.hamburger__elem
                    a(href="/blog").hamburger__href Блог
                li.hamburger__elem
                    a(href="/about").hamburger__href Обо мне
                li.hamburger__elem
                    a(href="/").hamburger__href Авторизация

    block main-content
        

    block map   