.promo{
    position: relative;
    background: url("../img/about/forest-bg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute
}
.header__left{
  margin-left: 30px;
}
.navigation__short-menu{
  margin-top: 28px;
  display: flex;
  height: 35px;
  position: relative;
  align-items: center;
  margin-right: 30px;
  margin-left:auto;
}
.short-menu{
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 6px;
    &:after{
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 6px;
    }
    &:before{
      top: 0;
      position: absolute;
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 6px;
    }
  }
.promo__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promo__img{
  width: 141px;
  height: 141px;
  border-radius: 100%
}
.promo__my-img{
  @extend .promo__img
}
.promo__name{
  margin-top: 22px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;
  line-height: 41px;
}
.promo__desc{
  margin-top: 1px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.promo__down{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%)
}
.svg-down{
  fill:#c2d4c9;
  width: 26px;
  height: 16px;
  opacity: 0.7;
}
.about{
  width: 100%;
  height: 100%;
  display: flex;
}
.about__left{
  width: 50%;
  background-color: #ebefe2;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.about__left-title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 357px;
  height: 125px;
  margin-left: 53px;
  position: relative;
}
.about__left-svg{
  position: absolute;
  top: 0;
  left: 0;
}
.about__bg-header{
  width: 357px;
  height: 125px;
  fill: #93c42e;
  opacity: 0.1;
}
.about__left-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left:  90px;
}
.about__user-photo{
  width: 437px;
  height: 390px;
}
.about__my-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__my-img{
  object-fit: cover;
}
.about__user-title{
  margin-top:40px;
  text-align: center;
  @include line(#566358)
}
.about__user-desc{
  color: #0b140c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  }
.about__user-desc p{
  margin-top: 19px;
}


.about__right{
  position: relative;
  background-color: #f4f5f0;
  width: 50%;
}
.about__right-title{
  margin: auto;
  text-align: center;
  width: 260px;
  @include line(#566358)
}
.about__skills{
  margin-left: 38px;
}
.about__skills-desc{
  width:820px;
  height: 41px;
  color: #566358;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about__skills-block{
  margin-top: 54px;
}
.skills-row__title{
  color: #566358;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}
.skills-list__item{
  display: flex;
  flex-direction: column;
}
.skills-row__list{
  margin-top: 18px;
  margin-bottom: 38px;
  display: flex;
}
.skills-row__item{
  margin-right: 30px;
}
.triangle {
  position: absolute;
  width: 100%;
  bottom: 98.9%;
}

.triangle-svg .left{
  fill: #ebefe2;
}
.triangle-svg .right{
  fill: #f4f5f0;
}
.map{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__contacts{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#map{
  width: 100%;
  height: 100%;
}