.contacts{
    width: 380px;
    min-height: 312px;
    background-color: #f4f5f0;
    opacity: 0.85;
    border-radius: 8px;
    @include tablets{
        width: 349px;
        min-height: 287px;
    }
    @include iphones{
        width: 100%;
        min-height: 303px;
    }
}
.contacts__title{
    margin-top: 28px;
    text-align: center;
}
.contacts__list{
    margin-top: 31px;
    @include tablets{
        margin-top: 23px;
    }
}
.contacts__block{
    display: flex;
    margin-left:40px;
    margin-bottom: 21px;
    align-items: center;
    @include tablets{
        margin-left: 20px;        
        margin-bottom: 19px;
    }
}
.contacts__skype{
    @include iconSize(24px, 24px);
    fill:#6c9c5a;
}
.contacts__envelope2{
    @include iconSize(23px, 16px);
    fill:#6c9c5a;
}
.contacts__phone{
    @include iconSize(17px, 20px);
    fill:#6c9c5a;
}
.contacts__map_marker{
    @include iconSize(16px, 21px);
    fill:#6c9c5a;
}
.contacts__info{
    margin-left: 10px;
    opacity: 0.8;
    color: #566358;
    font-family: Roboto;
    font-size: rem(16px);
    font-weight: 500;
    line-height: 24px;
}