.social__list{
    display: flex;
}
.social__icon{
    cursor: pointer;
    width: 31px;
    height: 17px;
    margin: 0 27px 0 0;
    &:last-child{
        margin-right: 0;
    }
    &--promo{
        margin: 0 22px 0 0;
    }
}
.social__svg{
    fill: #ffffff;
    transition: .4s;   
    opacity: 0.5;

    &--vk{
        width: 31px;
        height: 17px;
    }
    &--github{
        width: 26px;
        height: 22px;
    }
    &--in{
        width: 24px;
        height: 22px;
    }
    &:hover{
        transition: .4s;  
        fill:#4e8839;
        opacity: 1;
    }
}
.social__svg-promo{
    fill: #ffffff;
    transition: .4s;   
    //opacity: 0.5;

    &--vk{
        width: 31px;
        height: 17px;
        @include iphones{
            width: 24px;
            height: 13px;
        }
    }
    &--github{
        width: 26px;
        height: 22px;
        @include iphones{
            width: 21px;
            height: 17px;
        }
    }
    &--in{
        width: 24px;
        height: 22px;
        @include iphones{
            width: 19px;
            height: 17px;
        }
    }
    &:hover{
        transition: .4s;  
        fill:#4e8839;
        opacity: 1;
    }
}
.social__svg--github{
    transition: .4s;  
    width: 26px;
    height: 22px;
}
