.title-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 499px;
    height: 175px;
    @include tablets{
        width: 398px;
        height: 140px;   
    }
    @include mini-tablets{
        width: 360px;
    }
    @include iphones{
        width: 249px;
        height: 88px;
    }
    &--size{
        width: 506px;
        height: 165px;
        @include mini-tablets{
            width: 360px;
        }
        @include tablets{
            height: 133px;
        }
        @include iphones{
            width: 253px;
            height: 83px;
        }
    }
}
.title-block__svg{
    position: absolute;
    top: -14%;    
    left: 0;
    width: 100%;
    height: 100%;
    fill: #93c42e;
    opacity: 0.1;
}
.title-block__title{
    text-align: center;
    max-width: 356px;
}
