.triangle {
    width: 100%;
    line-height: 0;
}
  
.triangle__left{
    fill: #ebefe2;
}
.triangle__right{
    fill: #f4f5f0;
    @include tablets{
        fill: #ebefe2;
    }
}
.blog__triangle{
    fill:#faf8f0;
}
.triangle__work{
    fill:#f8f9f5;
}