.add-button{
    width: 119px;
    height: 46px;
    background-color: #6c9c5a;
    border-radius: 6px;
    border: 0px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}