@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}
@function rem-t($px) {
  @return $px / 14px+0rem;
}

@mixin clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

@mixin line($color){
  &:after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 89px;
    height: 3px;
    background-color: $color;
    margin-top: 21px;
    margin-bottom: 25px;
    @include tablets{
      margin: 9px auto 13px;  
    }
    @include iphones{
      margin: 11px auto 13px;
      width: 56px;
      height: 3px;
    }
  }
}
@mixin iconSize($width, $height) {
  width: $width;
  height: $height;
}